<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div id="mainDiv">
        <h1 id="mainTitle"><%= title %></h1>
        <div id="buttonDiv">
          <form action="/createNewGame" method = "post"></form>
            <button onclick="window.location='/createGame'" class="button">Create Game</button>
          </form>
          <button onclick="window.location='/joinGame'" class="button">Join Game</button>
        </div>
      </div>
  </body>
</html>
